@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Just+Another+Hand&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
}
*{
    margin:0;
}
:root{
    --red: #ff0000;
    --black: #393939;
    --grey: #3a3a3a;
    --lightgrey: #e1e1e1;
    --offwhite: #ededed;
    --maxwidth: 1000px;
    --bs: 0 12px 24px 0 rgba(0,0,0,0.09);
}
button{
    all: unset;
    padding:6px 16px;
    background: var(--red);   
    /* could have also used just red  */
    height:32px;
    color:white;
    font-weight: 500;
}
nav{
    display:flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    height:70px;
    align-items: center;
    /* margin-top:20px; */
}
nav ul{
    display: flex;
    list-style: none;
    gap:20px;
}
.image{
    height:50px;
    
}
.hero{
    display:flex;
    align-items: center;
    height:calc(100vh-72px);
    /* text-align: center; */
    display: flex;
    max-width: 70vh;
    /* margin: 0 auto; */

}
.hero-text{
    /* all:unset; */
    margin-left: 20px;
}
.hero-button{
    display: flex;
    gap:5px;
    /* justify-content: space-between; */
    margin-left: 40px;
    margin-top: 40px;


}
button{
    border-radius: 10px;
    
}
/* .container{
    margin:0 auto;
    max-width: 1280px;
    display: flex;
} */
.shopping{
    margin-left: 40px;
    margin-top: 10px;
}
.logo{
    height: 50px;
    border-radius: 30px;
    /* display: flex;
    flex-direction: row; */
    gap: 10px;

}
.hero h1{
    font-weight: 900px;
    line-height: 108px;
    font-size: 120px;
}
.hero p{
    font-weight: 600px;
    line-height: 30px;
    font-size: 40px;
    color:var(--grey);
}
.imageshoe{
    height: 600px;
    margin-left: 50px;
}